<html>
  <div style="background-color: #ffffff" dir="auto" lang="und" class="x_body">
    <!-- Main -->
    <div
      style="background: #ffffff; background-color: #ffffff; margin: 0px auto; max-width: 600px"
      class="x_wrapper x_has-notabene"
    >
      <table
        style="background: #ffffff; background-color: #ffffff; width: 100%"
        role="presentation"
        cellspacing="0"
        cellpadding="0"
        border="0"
        align="center"
      >
        <tbody>
          <tr>
            <td style="direction: ltr; font-size: 0px; padding: 40px 0 0; text-align: center">
              <!-- Greeting -->
              <div style="margin: 0px auto; max-width: 600px" class="x_title">
                <table
                  style="width: 100%"
                  role="presentation"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  align="center"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          direction: ltr;
                          font-size: 0px;
                          padding: 0 40px 24px;
                          text-align: center;
                        "
                      >
                        <div
                          style="
                            font-size: 0px;
                            text-align: left;
                            direction: ltr;
                            display: inline-block;
                            vertical-align: top;
                            width: 100%;
                          "
                          class="x_mj-column-per-100 x_mj-outlook-group-fix"
                        >
                          <table
                            width="100%"
                            role="presentation"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                          >
                            <tbody>
                              <tr>
                                <td style="vertical-align: top; padding: 0">
                                  <table
                                    width="100%"
                                    role="presentation"
                                    cellspacing="0"
                                    cellpadding="0"
                                    border="0"
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          style="font-size: 0px; padding: 0; word-break: break-word"
                                          align="left"
                                        >
                                          <div
                                            style="
                                              font-family: sans-serif;
                                              font-size: 20px;
                                              font-weight: bold;
                                              line-height: 24px;
                                              text-align: left;
                                              color: #363744;
                                            "
                                          >
                                            Bonjour {{firstName}},
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Sub Message -->
              <div style="margin: 0px auto; max-width: 600px" class="x_main">
                <table
                  style="width: 100%"
                  role="presentation"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  align="center"
                >
                  <tbody>
                    <tr>
                      <td
                        style="direction: ltr; font-size: 0px; padding: 0 40px; text-align: center"
                      >
                        <div
                          style="
                            font-size: 0px;
                            text-align: left;
                            direction: ltr;
                            display: inline-block;
                            vertical-align: top;
                            width: 100%;
                          "
                          class="x_mj-column-per-100 x_mj-outlook-group-fix"
                        >
                          <table
                            width="100%"
                            role="presentation"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                          >
                            <tbody>
                              <tr>
                                <td style="vertical-align: top; padding: 0">
                                  <table
                                    width="100%"
                                    role="presentation"
                                    cellspacing="0"
                                    cellpadding="0"
                                    border="0"
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          style="font-size: 0px; padding: 0; word-break: break-word"
                                          align="left"
                                        >
                                          <div
                                            style="
                                              font-family: sans-serif;
                                              font-size: 16px;
                                              line-height: 24px;
                                              text-align: left;
                                              color: #47485d;
                                            "
                                          >
                                            Nous avons trouvé une proposition qui correspond à votre
                                            profil et qui peut vous aider dans votre carrière. Elle
                                            vous est proposée comme possibilité d'évolution dans
                                            votre poste.
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Job Proposiiton Title -->
              <div style="margin: 0px auto; max-width: 600px">
                <table
                  style="width: 100%"
                  role="presentation"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  align="center"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          direction: ltr;
                          font-size: 0px;
                          padding: 32px 40px 16px;
                          text-align: center;
                        "
                      >
                        <div
                          style="
                            font-size: 0px;
                            text-align: left;
                            direction: ltr;
                            display: inline-block;
                            vertical-align: top;
                            width: 100%;
                          "
                          class="x_mj-column-per-100 x_mj-outlook-group-fix"
                        >
                          <table
                            width="100%"
                            role="presentation"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                          >
                            <tbody>
                              <tr>
                                <td style="vertical-align: top; padding: 0">
                                  <table
                                    width="100%"
                                    role="presentation"
                                    cellspacing="0"
                                    cellpadding="0"
                                    border="0"
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          style="
                                            font-size: 0px;
                                            padding: 0;
                                            padding-bottom: 4px;
                                            word-break: break-word;
                                          "
                                          align="left"
                                        >
                                          <div
                                            style="
                                              font-family: sans-serif;
                                              font-size: 20px;
                                              font-weight: bold;
                                              line-height: 24px;
                                              text-align: left;
                                              color: #47485d;
                                            "
                                          >
                                            Emplois Repères
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Box -->
              <div style="margin: 0px auto; max-width: 600px">
                <table
                  style="width: 100%"
                  role="presentation"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  align="center"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          direction: ltr;
                          font-size: 0px;
                          padding: 0 40px 16px;
                          text-align: center;
                        "
                      >
                        <div
                          style="
                            font-size: 0px;
                            text-align: left;
                            direction: ltr;
                            display: inline-block;
                            vertical-align: top;
                            width: 100%;
                          "
                          class="x_mj-column-per-100 x_mj-outlook-group-fix"
                        >
                          <table
                            width="100%"
                            role="presentation"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                          >
                            <tbody>
                              <tr>
                                <td
                                  style="
                                    background-color: #f7f7f9;
                                    border-bottom: 1px solid #dddde4;
                                    border-left: 1px solid #dddde4;
                                    border-right: 1px solid #dddde4;
                                    border-top: 6px solid #feb6e4;
                                    vertical-align: top;
                                    padding: 16px;
                                  "
                                >
                                  <table
                                    width="100%"
                                    role="presentation"
                                    cellspacing="0"
                                    cellpadding="0"
                                    border="0"
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          style="
                                            font-size: 0px;
                                            padding: 0;
                                            padding-bottom: 4px;
                                            word-break: break-word;
                                          "
                                          align="left"
                                        >
                                          <div
                                            style="
                                              font-family: sans-serif;
                                              font-size: 14px;
                                              font-style: italic;
                                              line-height: 20px;
                                              text-align: left;
                                              color: #565873;
                                            "
                                          >
                                            Pour valoriser l'ensemble de vos compétences
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td
                                          style="font-size: 0px; padding: 0; word-break: break-word"
                                          align="left"
                                        >
                                          <div
                                            style="
                                              font-family: sans-serif;
                                              font-size: 14px;
                                              line-height: 20px;
                                              text-align: left;
                                              color: #565873;
                                            "
                                          ></div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td
                                          style="font-size: 0px; padding: 0; word-break: break-word"
                                          align="left"
                                        >
                                          <div
                                            style="
                                              font-family: sans-serif;
                                              font-size: 18px;
                                              font-weight: bold;
                                              line-height: 22px;
                                              text-align: left;
                                              color: #3d3e4f;
                                            "
                                          >
                                            Agent Sécurité - Manager du Pôle
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td
                                          style="
                                            font-size: 0px;
                                            padding: 0;
                                            padding-top: 16px;
                                            word-break: break-word;
                                          "
                                          align="left"
                                        >
                                          <table
                                            style="border-collapse: separate; line-height: 100%"
                                            role="presentation"
                                            cellspacing="0"
                                            cellpadding="0"
                                            border="0"
                                          >
                                            <tbody>
                                              <tr>
                                                <td
                                                  style="
                                                    border: 1px solid #e8e8ed;
                                                    border-radius: 4px;
                                                    height: 32px;
                                                    background: #ffffff;
                                                  "
                                                  valign="middle"
                                                  role="presentation"
                                                  bgcolor="#ffffff"
                                                  align="center"
                                                >
                                                  <a
                                                    style="
                                                      display: inline-block;
                                                      background: #ffffff;
                                                      color: #3d3e4f;
                                                      font-family: sans-serif;
                                                      font-size: 14px;
                                                      font-weight: normal;
                                                      line-height: 120%;
                                                      margin: 0;
                                                      text-decoration: none;
                                                      text-transform: none;
                                                      padding: 8px 16px;
                                                      border-radius: 4px;
                                                    "
                                                    data-auth="NotApplicable"
                                                    rel="noopener noreferrer"
                                                    target="_blank"
                                                    href="{{messageLink}}"
                                                    data-linkindex="0"
                                                    >Consulter
                                                  </a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Body -->
              <div style="margin: 0px auto; max-width: 600px" class="x_notabene">
                <table
                  style="width: 100%"
                  role="presentation"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  align="center"
                >
                  <tbody>
                    <tr>
                      <td style="direction: ltr; font-size: 0px; padding: 24px; text-align: center">
                        <div
                          style="
                            font-size: 0px;
                            text-align: left;
                            direction: ltr;
                            display: inline-block;
                            vertical-align: top;
                            width: 100%;
                          "
                          class="x_mj-column-per-80 x_mj-outlook-group-fix x_align-middle"
                        >
                          <table
                            width="100%"
                            role="presentation"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                          >
                            <tbody>
                              <tr>
                                <td style="vertical-align: top; padding: 0">
                                  <table
                                    width="100%"
                                    role="presentation"
                                    cellspacing="0"
                                    cellpadding="0"
                                    border="0"
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          style="font-size: 0px; padding: 0; word-break: break-word"
                                          class="x_notabene__text"
                                          align="left"
                                        >
                                          <div
                                            style="
                                              font-family: sans-serif;
                                              font-size: 14px;
                                              line-height: 21px;
                                              text-align: left;
                                              color: #525b66;
                                            "
                                          >
                                            <div>
                                              Cette suggestion vous est envoyée par notre
                                              intelligence artificielle à partir des informations
                                              présentes sur votre profil et des compétences qui vous
                                              sont présumées.
                                              <a
                                                style="color: #0066dd"
                                                data-auth="NotApplicable"
                                                rel="noopener noreferrer"
                                                target="_blank"
                                                href="{{profileLink}}"
                                                data-linkindex="2"
                                                >Accédez à votre profil</a
                                              >
                                              et mettez en valeur vos compétences pour améliorer la
                                              pertinence des suggestions.
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Sent to -->
    <div style="margin: 0px auto; max-width: 600px" class="x_footer">
      <table
        style="width: 100%"
        role="presentation"
        cellspacing="0"
        cellpadding="0"
        border="0"
        align="center"
      >
        <tbody>
          <tr>
            <td
              style="
                direction: ltr;
                font-size: 0px;
                padding: 45px 40px 40px 40px;
                text-align: center;
              "
            >
              <div
                style="
                  font-size: 0px;
                  text-align: left;
                  direction: ltr;
                  display: inline-block;
                  vertical-align: top;
                  width: 100%;
                "
                class="x_mj-column-per-100 x_mj-outlook-group-fix"
              >
                <table width="100%" role="presentation" cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    <tr>
                      <td style="vertical-align: top; padding: 0">
                        <table
                          width="100%"
                          role="presentation"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="font-size: 0px; padding: 12px 0; word-break: break-word"
                                align="center"
                              >
                                <div
                                  style="
                                    font-family: sans-serif;
                                    font-size: 12px;
                                    line-height: 18px;
                                    text-align: center;
                                    color: #878f99;
                                  "
                                >
                                  <span
                                    >Email envoyé à aldin.music@reseau.sncf.fr car vous êtes inscrit
                                    sur Station C.</span
                                  ><br />
                                  <div style="color: #878f99">
                                    <span>Email personnel à ne pas transférer</span>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Footer -->
    <div style="margin: 0px auto; max-width: 600px">
      <table
        style="width: 100%"
        role="presentation"
        cellspacing="0"
        cellpadding="0"
        border="0"
        align="center"
      >
        <tbody>
          <tr>
            <td style="direction: ltr; font-size: 0px; padding: 0 40px; text-align: center">
              <div
                style="
                  font-size: 0px;
                  text-align: left;
                  direction: ltr;
                  display: inline-block;
                  vertical-align: top;
                  width: 100%;
                "
                class="x_mj-column-per-100 x_mj-outlook-group-fix"
              >
                <table width="100%" role="presentation" cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    <tr>
                      <td style="vertical-align: top; padding: 0">
                        <table
                          width="100%"
                          role="presentation"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="font-size: 0px; padding: 12px 0; word-break: break-word"
                                align="center"
                              >
                                <div
                                  style="
                                    font-family: sans-serif;
                                    font-size: 12px;
                                    line-height: 18px;
                                    text-align: center;
                                    color: #878f99;
                                  "
                                >
                                  Vous accédez à un espace vous permettant de renseigner librement
                                  des informations. Veillez à n’indiquer que des informations non
                                  susceptibles de porter atteinte à l’image d’autres personnes, à
                                  être objectif, jamais excessif ou insultant, et à exclure toute
                                  information dite sensible (origine raciale ou ethnique, opinions
                                  politiques, philosophiques ou religieuses, appartenance syndicale,
                                  relatives à la santé ou la vie sexuelle, infractions,
                                  condamnations, etc.)
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</html>
